/* user sign up form - start */
#signup-form-wrapper{
  display: none;
}
.signup-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  margin: 50px auto;
  justify-self: center;
}

.signup-form label {
  color: black;
  margin-bottom: 10px;
}

.signup-form .heading{
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.signup-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
}

.signup-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
/* user sign up form - end */
/* tables with all emails and contents - start */
.allEmailsTable, .allContentsTable{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  margin: 50px auto;
  justify-self: center;
}

#emailTableWrapper, #contentTableWrapper{
  display: none;
}

.emails-container, .contents-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.email-entry, .content-entry{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.email-entry div, .content-entry div{
  margin: 6px 0;
  font-size: 16px;
}
/* table with all emails and contents - end */
