/* login form - start */
#login-form {
  margin-top: 20vh;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 1.5%;
  border-radius: 1.5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

#login-form h2 {
margin-bottom: 1rem;
}

@media (max-width: 600px) {
  #login-form {
    width: 90%;
    /* height: 300px; */
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  #login-form {
    width: 75%;
    /* height: 350px; */
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  #login-form {
    width: 60%;
    /* height: 400px; */
  }
}

.heading {
  display: block;
  font-weight: bold;
  color: black;
  margin: 0px;
  height: 10%;
  font-size: 24px;
  overflow-y: auto;
}

#loginlForm {
  display: flex;
  flex-direction: column;
  height: 90%;
}

#loginlForm label {
  color: black;
  padding-bottom: 1%;
  margin: 0px;
  height: 5%;
  font-size: 16px;
}

#loginlForm input {
  border: none;
  border-radius: 5px;
  padding: 1.5%;
  margin-bottom: 1.5%;
  height: 5%;
}

#loginlForm input:focus {
  outline: none;
  box-shadow: 0 0 5px #2196F3;;
}

#loginlForm button[type="submit"] {
  cursor: pointer;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.5%;
  height: 15%;
  font-size: 18px;
  
}

#emailForm button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
/* login form - end */