/*  general - start */
html,
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    height: 10%;
    width: 100%;
}

main {
    position: relative;
    top: 10%;
    width: 100%;
    flex: 1;
}

footer {
    width: 100%;
    margin-top: 5%;
}
/*  general - end */
/* Language selector - start */
#dropdownLanguageSelector {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    margin-left: 3px;
}

/* #dropdownLanguageSelector-toggle {
    cursor: pointer;
} */

#dropdownLanguageSelector-toggle img,
#dropdownLanguageSelector-menu a img {
    border-radius: 5px;
    width: 35px;
    vertical-align: middle;
}

#dropdownLanguageSelector-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

#dropdownLanguageSelector-menu a {
    display: block;
    height: auto;
    margin-top: 5px;
}

#dropdownLanguageSelector-menu a img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
}

.footer-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a:hover {
    color: #007BFF;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 5px;
    }

    .footer-icons a {
        font-size: 1em;
    }
}

nav {
    top: 0;
    left: 0;
    right: 0;
    color: #2196F3;
    font-size: 18px;
    height: 9.6vh;
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    transition: color 0s ease-in-out;
    transition: background-color 0s ease-in-out;
    z-index: 1;
}

.link {
    background-color: inherit;
    color: inherit;
}

.scrolledNav {
    background-color: #2196F3;
    color: #FFFFFF;
}

#logoDiv,
#logoLink {
    position: relative;
    height: 9.5vh;
}

#logoPic {
    position: absolute;
    height: inherit;
    width: inherit;
}

#menuDiv {
    width: 90%;
    display: flex;
    justify-content: center;
}

#menuLinks {
    padding-left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 40%;
}

.menuLink {
    display: inline;
    padding: 0.5%;
    margin-top: 7px;
}

.menuLink:hover {
    border-bottom: 2px solid;
}

a {
    text-decoration: none;
    font-weight: 600;
}

#menuToggle {
    display: none;
    font-size: 30px;
    background-color: inherit;
    color: inherit;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.switch {
    font-size: 11px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #87CEEB;;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: yellow;
    transition: .4s;
}

.switch input:checked+.slider:before {
    background-color: rgb(75, 13, 126);
    border-radius: 50px;
    box-shadow: inset 9px 0px 1px 0px rgb(230, 191, 0);
}

.switch input:checked+.slider {
    background-color: rgb(75, 13, 126);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #87CEEB;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

#settingsDiv {
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 21px;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.dropdown-toggle img {
    border-radius: 5px;
    margin-bottom: 8px;
    width: 28px;
    height: 21px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    top: 28px;
    margin-left: -3px;
    padding: 0;
}

.dropdown-menu a {
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    width: 34px;
    height: 30px;
}

.dropdown-menu a img {
    width: 28px;
    height: 21px;
    object-fit: cover;
    border-radius: 5px;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.menuLinkSettings:hover {
    border-bottom: 0;
}

.menuLinkSettings {
    margin-top: -2px;
}

#dropdownToggle {
    margin-top: 2px;
}

/* Responsive nav-bar */
@media (max-width: 1300px) {

    #menuDiv {
        width: 85%;
    }

    #menuLinks {
        margin-left: 20%;
    }

    .menuLinkSettings {
    margin-top: 0px;
    }
}

@media (max-width: 1100px) {

    nav {
        font-size: 16px;
    }

    #menuDiv {
        width: 80%;
    }

    #menuLinks {
        margin-left: 25%;
    }

    #dropdownToggle {
        margin-top: 0px;
    }
}

@media (max-width: 1000px) {

    nav {
        justify-content: space-around;
    }

    #menuToggle {
        display: block;
        margin-left: 50%;
    }

    #menuDiv.show {
        display: flex
    }

    #menuLinks {
        flex-direction: column;
        align-items: end;
        background-color: inherit;
        color: inherit;
        width: 100%;
    }

    #menuDiv {
        display: none;
        position: absolute;
        height: 300px;
        padding: 0%;
        margin-top: 360px;
        padding-right: 50px;
        color: #2196F3;
        width: 100%;
        font-size: 18px;
        float: left;
        justify-content: center;
        flex-direction: row;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
    }
}
/* footer - end */