/* Language selector - start */
#dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
  }

  #dropdown-toggle {
    cursor: pointer;
  }
  #dropdown-toggle img, #dropdown-menu a img{
    border-radius: 5px;
    width: 40px;
  }

  #dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }

  #dropdown:hover #dropdown-menu {
    display: block;
  }

  #dropdown-menu a {
    display: block;
    height: auto;
  }

  #dropdown-menu a img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
/* Language selector - end */
/* Content page - start */
  #dropdown1 {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
  }

  #dropdown1-toggle {
    cursor: pointer;
  }

  #dropdown1-toggle, #dropdown1-toggle div, #dropdown1-menu div{
    border-radius: 5px;
    padding: 5px;
  }

  #dropdown1-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }

  #dropdown1:hover #dropdown1-menu {
    display: block;
  }

  #dropdown1-menu div {
    display: block;
    height: auto;
    cursor: pointer;
    text-align: right;
  }

  #dropdown1-menu div:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
/* Content page selector - end */

