* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 5vh auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #444;
}


#servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 1.5rem;
  justify-content: center;
}

.service {
 flex: 1 1 300px;
  max-width: 500px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.8rem;       
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  will-change: transform, box-shadow;
  min-height: 300px;    
  height: auto;        
}

.service:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-6px) scale(1.02);
  transition: all 0.3s ease-in-out;
  border-color: #2196f3;
  background-color: #f9fcff;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service h3 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  text-align: center;
  color: #222;
}


.service-description {
  line-height: 1.5;
  margin: 0 0 15px 0;
  overflow: auto;
  flex-grow: 1;
  text-align: center;
  color: #555;
  font-size: 0.95rem;
}


.image-service-container {
  width: 100%;
  margin-top: 0.5em;
}


.image-service-container img {
  width: 100%;
  height: 220px;
  object-fit: fill;
  display: block;
  border-radius: 6px;
  margin: 0 auto;
}


@media (max-width: 820px) {
  .service-description {
    overflow: visible;
    max-height: none;
  }

  .image-service-container img {
    height: auto;
    object-fit: cover;
  }
}
